* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    margin: 0;
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left, #4facfe, transparent),
                linear-gradient(135deg, #007bff, #003f7f);
}

button {
  background: none;     
  border: none;   
  padding: 0;       
  cursor: pointer;     
  outline: inherit;    
}

dialog {
  margin: auto;
  position: fixed;
  inset: 0;

  border: none;
  border-radius: 10px;

  height: 30%;
  width: 20%;

  background-color: rgb(75, 75, 75);;
}

.pop-up-adiocionar-chat {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container-inputs-sala {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-inputs-sala input {
    border: 0px;
    outline: none;
    border-radius: 4px;
    background-color: rgb(27, 27, 27);
    color: white;
    padding-left: 8px;
    width: 70%;
    height: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container-botoes-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: 20%;
    width: 100%;
}

.container-botoes-popup button {
    height: 70%;
    width: 30%;
    background-color: #5c00b3;
    border-radius: 8px;
}

.container-titulo-pupup {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.campo-retorno-erros {
    color: red;
    font-size: medium;
    text-align: center;
}

.container-principal {
    display: flex;
    height: 100svh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.container-secao-esquerda-pagina {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(68, 68, 68);
    
    height: 100%;
    width: 15%;
}

.container-secao-direita-pagina {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgb(51, 51, 51);
    border-right: solid gray 1px;
    
    height: 100%;
    width: 75%;
    padding: 15px;
}

.container-secao-usuarios-conectados-chat {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(51, 51, 51);
    height: 947px;
    width: 10%;
}

.container-perfil {
    height: 15%;
    width: 100%;
    border-bottom: solid gray 1px;
    color: rgb(28, 30, 63);
    background-color: rgb(146, 146, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nome-cargo {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nome {
    width: 100%;
    text-align: left;
}

.cargo {
    width: 100%;
    text-align: left;
}

.foto {
    font-size: 70px;
}

.container-multi-chats {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    gap: 10px;
    width: 100%;
}

.container-chat-individual {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(146, 146, 146);
    border-radius: 8px;
    gap: 10px;
    height: 75px;
    width: 90%;
}

.chat-room {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75px;
    gap: 10px;
}

.informacoes-chatroom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 60%;
    text-align: left;
    gap: 5px;
    padding-left: 10px;
}

.titulo-chatroom {
    width: 100%;
}

.participantes-chatroom {
    width: 100%;
}

.icone-entrar-chatroom{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 40%;
}

.icone-entrar-chatroom i {
    font-size: 50px;
    color: rgb(46, 46, 46);
}

.container-novo-chat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: solid gray 1px;
    height: 10%;
    width: 80%;
}

.figura {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.figura i{
    font-size: 20px;
    color: rgb(27, 27, 27);
}

.container-dispositivos-conectados {
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 100%;
    height: 5%;
    border-radius: 8px;
    gap: 20px;
    background-color: rgb(80, 80, 80);
}

.dispositivo-informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 80%;
    gap: 5px;
    color: rgb(252, 246, 231);
    border-right: solid gray 1px;

}

.container-chat {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
    height: 806px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.mensagem {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    width: 100%;
    height: 60px;
}

.icone-user i {
    font-size: 50px;
}

.conteudo-mensagem {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    width: 100%;
}

.nome-autor {
    font-size: large;
    color: purple;
    text-align: left;
    width: 100%;
}

.texto-autor {
    font-size: large;
    color:whitesmoke;
    text-align: left;
    width: 100%;
}





.container-input-mensagem {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 30px;
    align-items: center;
    height: 6%;
    width: 100%;
    background-color: rgb(80, 80, 80);
    border-radius: 8px;
}

.input-mensagem {
    flex-grow: 1;    
    display: flex;       
}

.input-mensagem input{
    background: transparent;
    font-size: 1.2rem;
    width: 99%;
    box-sizing: border-box;
    border: none;            
    outline: none;           
    padding: 0;              
    box-shadow: none;
}

.botao-enviar i {
    font-size: 30px;
    color: rgb(19, 19, 19);
}

.container-usuarios-conectados {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: rgb(44, 44, 44);;
}

.titulo-usuarios-conectados {
    text-align: center;
    color: whitesmoke;
}
.users-usuarios-conectados {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.icone-user-conectados {
    font-size: 35px;
}

.informacoes-usuario-conectado {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 947px;
}

.container-users {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    width: 100%;
    height: 40px;
    padding-left: 5px;
}