{% extends "base.html" %}

    {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
        <link rel="stylesheet" href="static/style-auth.css">
        <script defer src="{{ url_for('static', filename='js/auth.js') }}"></script>
        <title>Cadastro</title>
    {% endblock %}
    {% block content %}
        
        <form id="form-cadastro">
            <div class="container-principal">

                <div class="container-cadastro">

                    <div class="container-titulo">
                        Cadastro
                    </div>
                    
                    <div class="container-input">

                        <div class="container-placeholder" id="input-nome">
                            <i class="fa-regular fa-user"></i>
                            <input type="text" name="nome" placeholder="Nome completo">
                        </div>

                        <div class="container-placeholder">
                            <i class="fa-solid fa-wrench"></i>
                            <select name="cargos" id="input-cargo" >
                                <option value="" disabled selected>Cargo</option>
                                <option value="Engenheiro-civil">Engenheiro Civil</option>
                                <option value="Engenheiro-Software">Engenheiro de Software</option>
                                <option value="Engenheiro-producao">Engenheiro de Produção</option>
                                <option value="Psicologo">Psicologo</option>
                                <option value="Gerente-projetos">Gerente de projetos</option>
                            </select>
                        </div>

                        <div class="container-placeholder" id="input-email">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" placeholder="Email">
                        </div>

                        <div class="container-placeholder" id="input-senha">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="senha" placeholder="Senha">
                        </div> 

                        <div class="container-placeholder" id="input-confirmacao-senha">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="confirmacao-senha" placeholder="Confirmação da senha">
                        </div>

                    </div>

                    <div class="container-retorno" >
                        <div class="retorno-dados-incorretos" id="retorno-dados-incorretos">
                                
                        </div>
                    </div>

                    <div class="container-botao">
                        <button id="botao-cadastro" type="button" onclick="cadastrar(event)">Cadastrar</button>
                    </div>
                    <div class="link-cadastro">
                        <p>já tem uma conta? <a href="{{ url_for('views.login') }}">entre</a></p>
                    </div>

                </div>

            </div>

        </form>

    {% endblock %}